<h1>BOLO</h1>
<p>Welcome to the BOLO application</p>
<form>
  <button type="button" class="btn btn-primary">Enter New Game</button>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Player</th>
      <th>ID</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>GP</th>
      <th>Win %</th>
      <th>Ave Score<i class="icon icon-info"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{player.firstName + " " + player.lastName}}</td>
      <td>{{player.id}}</td>
      <td>{{player.wins}}</td>
      <td>{{player.losses}}</td>
      <td>{{player.gamesPlayed}}</td>
      <td>{{player.winPercentage}}</td>
      <td>{{player.averageScore}}</td>
    </tr>
  </tbody>
</table>
